body {
    box-sizing: border-box;
    background: #f7f7f7;
}
img {
    display: block;
}

.container {

}
.gallery {
    list-style: none;
    padding: 24px 156px;
        max-width: 1128px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;

}

.gallery-item {
    width: calc((100% - 72px) / 3);
}

.gallery-image {
width: 100%;
height: 200px;
}